$gutter: 1em

=space($margin, $padding: $margin)
	margin: $margin
	padding: $padding

ol.kanban
	+space(0)

	display: flex
	flex-direction: row
	list-style: none
	overflow: scroll
	text-align: center

	& > li
		margin: 0 $gutter

		ol
			+space(0)

			list-style: none
			width: 20em

			li
				margin: $gutter 0

				table
					display: block
					width: 100%

				tbody
					display: block

				tr
					+space(0)

					background-color: lighten(lightgray, 10%)
					border-radius: 2px
					box-shadow: 0 1px 1px 0 darken(lightgray, 50%)
					display: block

					td
						+space(0, $gutter)

						display: block

						$shift: -$gutter
						input[type=checkbox]
							float: left
							margin: $shift 0 0 $shift

						.unsortable
							margin-top: $shift
							margin-bottom: $gutter

						.sortable
							float: left
							margin-left: $shift * 1.5
							width: 10%

						.meta-data
							float: right
							margin-right: $shift
							width: 10%

						&:after
							content: ""
							display: table
							clear: both
