%h2 Kanbans

%ol.kanban
	- @issue_statuses.each do |status|
		%li
			%h3= status.name
			%ol
				- @issues_by_status[status].each do |issue|
					%li= link_to issue.subject, issue

- content_for :header_tags do
	= stylesheet_link_tag 'redhopper', :plugin => 'redhopper'
